@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    background-image: url("https://images.unsplash.com/photo-1611606063065-ee7946f0787a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80") !important;
    background-size:cover !important;
    background-position: center !important;
    min-height: 100vh !important;   
    font-family: 'Oswald', sans-serif;
}